body{background-color: gray;}


h1{background-color: purple;

padding: 20px;

border: 10px solid black;

 text-align: center;

font-family: Georgia, 'Times New Roman', Times, serif;}

h2{font-size: 15px;

font-family: Verdana, Geneva, Tahoma, sans-serif;

font-weight: bold;}





